* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

header {
  background: #fff2e8;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header #logo {
  height: 150px;
  width: 150px;
  float: left;
}

header nav {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
}

header nav button {
  background: #00a5e2;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  display: block;
  margin: 0 auto;
}

.hero {
  height: 700px;
  background-image: url("/Users/use/codeacademyProjects/DevProject/DevProject/src/assets/images/kindness_hero.jpg");
  text-align: center;
  position: relative;
  top: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero h1 {
  color: #333;
  font-weight: 600;
  font-size: 70px;
}

.stories {
  padding-top: 80px;
  padding-bottom: 100px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.stories .story {
  text-align: center;
  display: inline-block;
  height: 400px;
  width: 300px;
  border: 1px solid #00a5e2;
}

.stories .photo-credit {
  color: #333;
  font-size: 15px;
  font-weight: semi-bold;
}

.stories p {
  padding: 10px 30px;
}

.get-involved {
  background-color: #fff2e8;
}

.get-involved .help {
  padding: 20px 100px;
}

.get-involved p {
  padding: 10px 50px;
}
