* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

header {
  background: #fff2e8;
  position: fixed;
  width: 100%;
}
header #logo {
  height: 150px;
  width: 150px;
  float: left;
}

header nav {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
}

header nav button {
  background: #00a5e2;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  display: block;
  margin: 0 auto;
}
